#see http://mercurial.selenic.com/wiki/WordDiff
#add this to your ~/.hgrc or install this file as /etc/mercurial/hgrc.d/cwdiff.rc
[extensions]
extdiff =

[extdiff]
cmd.wdiff = cwdiff
opts.wdiff = --diff --ab
